body {
  background-image: url('http://2.bp.blogspot.com/-vhoCUV0rAt4/T7MSNhg7ZAI/AAAAAAAABJw/xnPkDWmeX6c/s1600/hinh-nen-dep-75.jpg');
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
